<div class="container">
  <div class="row">
    <h1>products</h1>
    <% @products.each do |products| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(products.photo_url), products_path(products) %>
          <div class="caption">
            <h3><%= link_to products.name, product_path(products) %></h3>
            <p><%= products.category.name %></p>
            <p>$$$</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
